@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
         url('fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: latoregular;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #41ACF0;
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 40px 1fr;  
    color: white;
    row-gap: 20px;
    column-gap: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.logo{
   align-self: center;
   font-size: 30px;
   font-weight: bold;
}

.links{
    display: grid;
    grid-template-columns: 25px 1fr;
    grid-template-rows: repeat(10, 35px);
    gap: 10px;
    padding-left: 10px ;
    font-weight: bold;
}

.links svg{
    width: 25px;
    height: auto;
    align-self: center;
    fill: white;
}

li {
   list-style-type: none;
   align-self: center;
   font-size: 18px
}

li:hover{
    color: lightblue;
}

.header {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.top-bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search svg {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.search input {
    width: 80%;
    height: 40%;
    padding: 12px 12px;
    border-radius: 20px;
    border: 1px solid lightgray;
    background-color: lightgrey;
}

.search input:focus {
    border: 2px solid #41ACF0;
    outline: none;
}

.notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.notifications svg{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
}

.notifications img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.notifications span {
    font-size: 20px;
    font-weight: bold;
}

.utility-bar {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.welcome {
    display: flex;
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.welcome img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.welcome-text div:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.welcome-text div:nth-child(2){
    font-size: 24px;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    align-content: center;
    gap: 35px;
}

.buttons button {
    height: 40px;
    background-color: #41ACF0;
    border-radius: 23px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.main {
    display: grid;
    grid-template-columns: 2fr 250px;
    grid-template-rows: 50px 1fr;
    gap: 20px;
    overflow-y: auto;
    padding-left: 20px;
    padding-bottom: 40px;
    background-color: #eef2f7;
}

.main-title {
    align-self: end;
    font-weight: bold;
    font-size: 18px;
}

.cards {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    height: 200px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 25px;
    gap: 5px;
    background-color: white;
}

.card span {
    font-weight: bold;
}

.accent {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 100%;
    background-color: #f6b241;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 30px;
    margin-top:40px;
}

.icons svg {
   width: 25px;
   height: auto;
}